.App {
  text-align: center;
}

.App-body {
  background-color:rgb(246, 246, 239);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(18px + 2vmin);
  color: black;
}

.App-secondary {
  font-size: calc(8px + 2vmin);
}

.App-link {
  color: #61dafb;
}
