.App {
  text-align: center;
}

.App-body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 1em;
}

.App-secondary {
  font-size: calc(6px + 2vmin);
}

.App-link {
  color: #61dafb;
}

button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #3498db;
  border-radius: 0.6em;
  color: #3498db;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 1.8em;
  text-decoration: none;
  text-align: center;
  font-weight: 700;

  box-shadow: 0 0 40px 40px white inset, 0 0 0 0 white;
  transition: all 150ms ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #3498db;
  outline: 0;
  box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 60%;
}

.fine-print {
  font-size: 5px;
}
